<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<false/>
	<key>BBLMKeywordList</key>
	<array>
		<string>a</string>
		<string>abbr</string>
		<string>abbrev</string>
		<string>abbreviated</string>
		<string>add</string>
		<string>after</string>
		<string>aka</string>
		<string>all</string>
		<string>an</string>
		<string>and</string>
		<string>answer</string>
		<string>are</string>
		<string>aren&apos;t</string>
		<string>as</string>
		<string>ascending</string>
		<string>ask</string>
		<string>at</string>
		<string>beep</string>
		<string>before</string>
		<string>begin</string>
		<string>begins</string>
		<string>between</string>
		<string>bigger</string>
		<string>bitand</string>
		<string>bitnot</string>
		<string>bitor</string>
		<string>bitxor</string>
		<string>by</string>
		<string>case</string>
		<string>catch</string>
		<string>close</string>
		<string>cmp</string>
		<string>comes</string>
		<string>compared</string>
		<string>const</string>
		<string>contain</string>
		<string>contains</string>
		<string>contents</string>
		<string>convert</string>
		<string>create</string>
		<string>datetime</string>
		<string>default</string>
		<string>delete</string>
		<string>descending</string>
		<string>dial</string>
		<string>div</string>
		<string>divide</string>
		<string>do</string>
		<string>does</string>
		<string>doesn&apos;t</string>
		<string>down</string>
		<string>downto</string>
		<string>each</string>
		<string>element</string>
		<string>else</string>
		<string>end</string>
		<string>ends</string>
		<string>english</string>
		<string>eq</string>
		<string>equal</string>
		<string>equals</string>
		<string>exactly</string>
		<string>exclusive</string>
		<string>exit</string>
		<string>extends</string>
		<string>fewer</string>
		<string>finally</string>
		<string>for</string>
		<string>foreach</string>
		<string>from</string>
		<string>function</string>
		<string>ge</string>
		<string>get</string>
		<string>global</string>
		<string>greater</string>
		<string>gt</string>
		<string>if</string>
		<string>implements</string>
		<string>in</string>
		<string>include</string>
		<string>inclusive</string>
		<string>instanceof</string>
		<string>international</string>
		<string>into</string>
		<string>is</string>
		<string>isa</string>
		<string>isn&apos;t</string>
		<string>just</string>
		<string>lastly</string>
		<string>le</string>
		<string>left</string>
		<string>leftinclusive</string>
		<string>less</string>
		<string>let</string>
		<string>local</string>
		<string>long</string>
		<string>lt</string>
		<string>med</string>
		<string>medium</string>
		<string>micro</string>
		<string>micros</string>
		<string>microsec</string>
		<string>microsecond</string>
		<string>microseconds</string>
		<string>microsecs</string>
		<string>milli</string>
		<string>millis</string>
		<string>millisec</string>
		<string>millisecond</string>
		<string>milliseconds</string>
		<string>millisecs</string>
		<string>mod</string>
		<string>modulo</string>
		<string>more</string>
		<string>multiply</string>
		<string>nano</string>
		<string>nanos</string>
		<string>nanosec</string>
		<string>nanosecond</string>
		<string>nanoseconds</string>
		<string>nanosecs</string>
		<string>ne</string>
		<string>new</string>
		<string>next</string>
		<string>no</string>
		<string>not</string>
		<string>numeric</string>
		<string>object</string>
		<string>of</string>
		<string>on</string>
		<string>open</string>
		<string>or</string>
		<string>ordinal</string>
		<string>pass</string>
		<string>pl</string>
		<string>play</string>
		<string>precisely</string>
		<string>put</string>
		<string>quot</string>
		<string>read</string>
		<string>rem</string>
		<string>repeat</string>
		<string>reply</string>
		<string>require</string>
		<string>return</string>
		<string>right</string>
		<string>rightinclusive</string>
		<string>rounding</string>
		<string>sec</string>
		<string>second</string>
		<string>seconds</string>
		<string>secs</string>
		<string>send</string>
		<string>set</string>
		<string>shared</string>
		<string>short</string>
		<string>single</string>
		<string>smaller</string>
		<string>sort</string>
		<string>speak</string>
		<string>sql</string>
		<string>start</string>
		<string>starts</string>
		<string>static</string>
		<string>step</string>
		<string>stop</string>
		<string>subtract</string>
		<string>switch</string>
		<string>tell</string>
		<string>tempo</string>
		<string>text</string>
		<string>than</string>
		<string>the</string>
		<string>then</string>
		<string>there&apos;s</string>
		<string>there</string>
		<string>through</string>
		<string>throw</string>
		<string>thru</string>
		<string>tick</string>
		<string>ticks</string>
		<string>time</string>
		<string>times</string>
		<string>to</string>
		<string>tone</string>
		<string>toward</string>
		<string>towards</string>
		<string>truncate</string>
		<string>try</string>
		<string>type</string>
		<string>until</string>
		<string>up</string>
		<string>use</string>
		<string>wait</string>
		<string>while</string>
		<string>with</string>
		<string>within</string>
		<string>without</string>
		<string>write</string>
		<string>xor</string>
	</array>
	<key>BBLMLanguageCode</key>
	<string>FAWX</string>
	<key>BBLMLanguageDisplayName</key>
	<string>XION</string>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.xn</string>
		</dict>
	</array>
	<key>BBLMCanSpellCheckCodeRuns</key>
	<false/>
	<key>Language Features</key>
	<dict>
		<key>Comment Pattern</key>
		<string>(--|//|#|\x{2014}|\x{2015})([^\n\r\x{2028}\x{2029}]*)|\x{221E}\x{221E}\x{221E}*([^\x{221E}]+?)\x{221E}\x{221E}\x{221E}*|~~~*([^~]+?)~~~*</string>
		<key>String Pattern</key>
		<string>&quot;([^&quot;\\\n\r\x{2028}\x{2029}]|\\[^\n\r\x{2028}\x{2029}])*(&quot;)?</string>
		<key>Function Pattern</key>
		<string>(?s)^[ \t]*(on|to|function|object[ \t]+type)[ \t]+(?P&lt;function_name&gt;[A-Za-z_&apos;][0-9A-Za-z_.&apos;]*).+?^[ \t]*end (?P=function_name)[ \t]*$</string>
		<key>Close Block Comments</key>
		<string>∞∞</string>
		<key>Close Parameter Lists</key>
		<string>)</string>
		<key>Close Statement Blocks</key>
		<string></string>
		<key>Close Strings 1</key>
		<string>&quot;</string>
		<key>End-of-line Ends Strings 1</key>
		<true/>
		<key>Escape Char in Strings 1</key>
		<string>\</string>
		<key>Identifier and Keyword Characters</key>
		<string>0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz_.&apos;</string>
		<key>Open Block Comments</key>
		<string>∞∞</string>
		<key>Open Line Comments</key>
		<string>--</string>
		<key>Open Parameter Lists</key>
		<string>(</string>
		<key>Open Statement Blocks</key>
		<string></string>
		<key>Open Strings 1</key>
		<string>&quot;</string>
		<key>Prefix for Functions</key>
		<string>function</string>
		<key>Prefix for Procedures</key>
		<string>on</string>
	</dict>
</dict>
</plist>
