* {
	margin: 0;
	padding: 0;
}

body {
	background: white;
	margin: 18pt 18pt 36pt;
}

h1 {
	font-family: Palatino, Times, Times New Roman, serif;
	font-size: 18pt;
	font-weight: normal;
	padding-bottom: 2px;
	border-bottom: solid 1px black;
	margin-bottom: 16pt;
	width: 100%;
}

h2 {
	font-family: Palatino, Times, Times New Roman, serif;
	font-size: 13pt;
	font-weight: bold;
	margin-top: 32pt;
	padding-bottom: 2px;
	border-bottom: solid 1px black;
	width: 100%;
}

h3 {
	font-family: Palatino, Times, Times New Roman, serif;
	font-size: 9.5pt;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 24pt;
	margin-bottom: 6pt;
}

p, ul, ol, table {
	font-family: Palatino, Times, Times New Roman, serif;
	font-size: 11.5pt;
	margin-bottom: 9pt;
	margin-left: 72pt;
	line-height: 12.5pt;
}

p b, ul b, ol b, table b {
	font-family: Palatino, Times, Times New Roman, serif;
	font-size: 11.5pt;
	font-weight: bold;
}

p i, ul i, ol i, table i {
	font-family: Palatino, Times, Times New Roman, serif;
	font-size: 11.5pt;
	font-style: italic;
}

p code, ul code, ol code, table code {
	font-family: Courier, Courier New, monospace;
	font-size: 10.5pt;
	/* margin-left: 3px; */
	/* margin-right: 3px; */
}

li {
	font-family: Palatino, Times, Times New Roman, serif;
	font-size: 11.5pt;
	list-style-type: none;
}

li b {
	font-family: Palatino, Times, Times New Roman, serif;
	font-size: 11.5pt;
	font-weight: bold;
}

li i {
	font-family: Palatino, Times, Times New Roman, serif;
	font-size: 11.5pt;
	font-style: italic;
}

li code {
	font-family: Courier, Courier New, monospace;
	font-size: 10.5pt;
	/* margin-left: 3px; */
	/* margin-right: 3px; */
}

.code {
	font-family: Courier, Courier New, monospace;
	font-size: 10.5pt;
}

.code b {
	font-family: Palatino, Times, Times New Roman, serif;
	font-size: 11.5pt;
	font-weight: bold;
}

.code i {
	font-family: Palatino, Times, Times New Roman, serif;
	font-size: 11.5pt;
	font-style: italic;
}

.code code {
	font-family: Courier, Courier New, monospace;
	font-size: 10.5pt;
}

li.code {
	margin-bottom: 9pt;
}

p.indexnav {
	margin-left: 0;
	padding: 8pt;
	font-size: 15pt;
	line-height: 18pt;
	background: #DDDDFF;
	text-align: center;
}

p.indexnav a:link,
p.indexnav a:hover,
p.indexnav a:visited,
p.indexnav a:active {
	text-decoration: none;
}

th, td {
	text-align: left;
	padding-right: 18pt;
}

table.linedrows {
	border-collapse: collapse;
}

table.linedrows tr.trrest {
	border-top: solid 1px #cccccc;
}

table.linedrows th,
table.linedrows td {
	padding-top: 2px;
	padding-bottom: 2px;
}

table.linedrowgroups {
	border-collapse: collapse;
}

table.linedrowgroups thead.tbrest,
table.linedrowgroups tbody.tbrest,
table.linedrowgroups tfoot.tbrest {
	border-top: solid 1px #cccccc;
	padding-top: 2px;
	padding-bottom: 2px;
}

table.linedrowgroups th,
table.linedrowgroups td {
	padding-top: 2px;
	padding-bottom: 2px;
}
